<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		
		<link rel="stylesheet" type="text/css" href="../css/mui.css" />l
	</head>
	<body id="main">
		<header class="mui-bar mui-bar-nav">
			<h2 class="mui-title">{{title}}</h2>
		</header>
		<!--<div class="mui-content">
			<button v-on:click="create()" class="mui-btn mui-btn-red mui-btn-block">登陆</button>
		</div>
		<div v-demo.literal="tab-about.html" id="test1" class="mui-btn mui-btn-red">dd</div>-->
		<nav class="mui-bar mui-bar-tab" id="app">
			<a class="mui-tab-item mui-active" v-tab.literal="tab-home.html">
				<span class="mui-icon mui-icon-home"></span>
				<span class="mui-tab-label">首页</span>
			</a>
			<a class="mui-tab-item" v-tab.literal = "tab-cunzhi.html">
				<span class="mui-icon mui-icon-chatboxes"></span>
				<span class="mui-tab-label">村志</span>
			</a>
			<a class="mui-tab-item" v-tab.literal = "tab-zhifu.html">
				<span class="mui-icon mui-icon-phone"></span>
				<span class="mui-tab-label">致富经</span>
			</a>
			<a class="mui-tab-item" v-tab.literal = "tab-settings.html">
				<span class="mui-icon mui-icon-gear"></span>
				<span class="mui-tab-label">个人中心</span>
			</a>
		</nav>
		
		<script src="../js/mui.js"  charset="utf-8"></script>
		<script src="../js/require.js" data-main="main"></script>
	</body>

</html>