<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../js/mui.min.js"></script>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<script type="text/javascript" charset="UTF-8">
			mui.init();
		</script>
		<style type="text/css">
			body,
			.mui-content {
				background-color: #333;
				color: #fff;
			}
		</style>
	</head>
	
	<body>
		<header class="mui-bar mui-bar-nav" style="background: #dd524d;">
		</header>
		<div class="mui-content">
			<ul class="mui-table-view mui-table-view-chevron mui-table-view-inverted">
				<li class="mui-table-view-cell" id="userInfo">
					<a class="mui-navigate-right">
							个人信息
						</a>
				</li>
				<li class="mui-table-view-cell" id="myCunzhi">
					<a class="mui-navigate-right">
							我的村志
						</a>
				</li>
				<li class="mui-table-view-cell" id="myDingdan">
					<a class="mui-navigate-right">
							我的订单
						</a>
				</li>
				<li class="mui-table-view-cell" id="myFabu">
					<a class="mui-navigate-right">
							我的发布
						</a>
				</li>
				<li class="mui-table-view-cell" id="message">
					<a class="mui-navigate-right">
							消息
						</a>
				</li>
				<li class="mui-table-view-cell" id="settings">
					<a class="mui-navigate-right">
							系统设置
						</a>
				</li>

			</ul>
		</div>
		<script src="../js/require.js" data-main="offcanvas" type="text/javascript" charset="utf-8"></script>
	</body>

</html>