<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../js/mui.min.js"></script>
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../font-awesome/css/font-awesome.min.css" />
		<style>
		
			.sort-content {
				position: relative;
				list-style: none;
				top: 0px;
			}
			.mui-bar-tab .mui-tab-item.mui-active {
				color: #DD524D;
			}
			.header-active {
				color: #DD524D;
			}
			nav a {
				border-bottom: 1px black solid;
				border-top: 1px black solid;
				font-size: 14px;
				font-family: "微软雅黑";
			}
			#filter {
				background: #DD524D;
				color: white;
			}
		</style>
	</head>
	
	<body id="list">
		<header class="mui-bar mui-bar-nav">
			<span class="mui-pull-left" id="">
				<a class="mui-action-back mui-icon mui-icon-left-nav"></a>
				<span>{{name}}</span>
			</span>
			<div class="mui-title" id="location">
				<i class="mui-icon mui-icon-location"></i> {{distance}}
			</div>
		</header>
		<nav class="mui-bar mui-bar-tab" style="top: 40px;">
			<a id="distance" class="mui-tab-item mui-active">
		        	距我最近
		    </a>
			<a id="sales" class="mui-tab-item" style="font-size: 13px;">
		       	销量排序
		    </a>
			<a id="price" class="mui-tab-item">
		        	价格排序
		         <span class="fa fa-sort-{{arrow}}"></span>
		    </a>
			<a id="filter" class="mui-tab-item">
				筛选
			</a>
		</nav>
		
		<!--<div id="header" class="mui-bar-header-secondary " style="position: fixed;top: 40px;left: 0px;height: 40px;width: 100%; z-index: 100;">
			<ul style="list-style: none;margin: 0;border: 1px black solid;padding: 0;position: relative;text-align: center;padding: 0px;background: #F3F3F3;height: 40px;line-height: 40px;">
				<li class="" id="distance" style="display: inline-block;left: 0%;position: absolute;width: 25%;text-align: right;padding-right:10px ;">
					距我最近
				</li>
				<li id="sales" style="display: inline-block;left: 25%;position: absolute;width: 25%;text-align: right;padding-right:10px ;color:;">
					销量排序
				</li>
				
				<li id="price" style="display: inline-block;left: 50%;position: absolute;width: 25%;text-align: right;padding-right:10px ;color: ;">
					价格排序
					<span class="fa fa-sort-up"></span>
				</li>
				<li id="filter" v-on:click="show()" style="display: inline-block;border-left:1px #DD524D solid !important; left: 75%;position: absolute;width: 25%;background: #DD524D;color: white;">
					筛选
				</li>
			</ul>
		</div>-->
		<div class="mui-content">
		</div>
		<script src="../js/require.js" data-main="product-list.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>