<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../js/mui.min.js"></script>
		<link href="../css/mui.css" rel="stylesheet" />
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script src="../js/jquery.qrcode.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../layer/layer.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../css/app.css" />
		<style type="text/css">
			.layui-layer {
				left: 15px;
			}
		</style>
	</head>
	<body>
		<div class="mui-content">
			<!--<ul class="mui-table-view" style="margin-top: 0px;">
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
						<img class="mui-media-object mui-pull-left" src="../image/shunwaicun.jpg">
						<div class="mui-media-body">
							<span id="username">
								个人资料
							</span>
							<p class='mui-ellipsis'>这里是摘要</p>
						</div>
					</a>
				</li>
			</ul>-->
			<div style="height: 120px;width: 100%;background: #DD524D;">
				<div style="height: 80px;border: 1px red solid;position: relative;">
					<img style="width: 50px;border-radius: 5px;position: absolute; left: 10px;top: 15px;" src="../images/grape.jpg" />
					<span style="position: absolute;left: 20%;top: 30%;">
						<h4 style="color: white;">百姓通村网</h4>
					</span>
					<i style="position: absolute;right: 10px;top: 10px;color: white;" class="mui-icon mui-icon-chatboxes"></i>
				</div>
				<div style="border: 1px blue solid;opacity: 2;">
					<nav id="commentList" class="mui-bar mui-bar-tab" style="background: #F0AD4E;position: relative;">
						<a class="mui-tab-item mui-collapse" id="balance">
							<div class="" style="color: white;">0</div>
							<span class="mui-tab-label" style="color: white;">我的余额</span>
						</a>
						<a class="mui-tab-item" id="times">
							<div class="" style="">0</div>
							<span class="mui-tab-label" style="">抽奖次数</span>
						</a>
					</nav>
				</div>
			</div>
			<div id="award" style="margin-top: 15px;" class="mui-hidden">
				<nav class="mui-bar mui-bar-tab" style="background: ;position: relative;">
					<a class="mui-tab-item mui-collapse" style="border-right: 1px red solid;" id="rightNow" href="#popover3">
						<!--<span class="mui-tab-label" style="color: white;">我的余额</span>-->
						立即抽奖(5)
					</a>
					<a class="mui-tab-item" id="donation" style="border-right: 1px red solid;">
						<!--<span class="mui-tab-label" style="">抽奖次数</span>-->
						转赠好友
					</a>
					<a class="mui-tab-item" id="getMore" style="border-right: 0px red solid;">
						<!--<span class="mui-tab-label" style="">抽奖次数</span>-->
						获取更多次数
					</a>
				</nav>
			</div>

			<ul class="mui-table-view" style="margin-top: 10px;">
				<li id="cunzhi" class="mui-table-view-cell">
					<a class="mui-navigate-right">
						本村村志
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
						本村名人
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
						本村商品
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right" href="#popover3">
						村志编辑
					</a>
				</li>
			</ul>

			<ul class="mui-table-view" style="margin-top: 10px;">
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
							实名认证
						</a>
				</li>
				<li class="mui-table-view-cell">
					<a id="test" class="mui-navigate-right">
							资格申请
						</a>
				</li>
			</ul>
			<ul class="mui-table-view" style="margin-top: 10px;">
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
							关于我们
						</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
							更多
						</a>
				</li>
			</ul>
			<div class="mui-content-padded" style="margin-top: 10px;">
				<button id="logout" type="button" class="mui-btn mui-btn-block mui-btn-danger" style="">退出登录</button>
			</div>
		</div>
		<script src="../js/require.js" data-main="tab-settings" type="text/javascript" charset="utf-8"></script>
	</body>
</html>