<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../js/mui.min.js"></script>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
	</head>
	<body>
		
		<div id="popover" class="mui-popover">
			<ul class="mui-table-view">
				<li class="mui-table-view-cell"><a href="#">Item1</a></li>
				<li class="mui-table-view-cell"><a href="#">Item2</a></li>
				<li class="mui-table-view-cell"><a href="#">Item3</a></li>
				<li class="mui-table-view-cell"><a href="#">Item4</a></li>
				<li class="mui-table-view-cell"><a href="#">Item5</a></li>
			</ul>
		</div>
		<div class="mui-content">

			<ul class="mui-table-view" style="margin-top: 0px;">
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
						<img class="mui-media-object mui-pull-left" src="../image/shunwaicun.jpg">
						<div class="mui-media-body">
							<span id="username">
								个人资料
							</span>
							<p class='mui-ellipsis'>这里是摘要</p>
						</div>
					</a>
				</li>
			</ul>
			<ul class="mui-table-view" style="margin-top: 10px;">
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
						本村村志
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
						本村名人
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
						本村商品
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
						村志编辑
					</a>
				</li>
			</ul>

			<ul class="mui-table-view" style="margin-top: 10px;">
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
							实名认证
						</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
							资格申请
						</a>
				</li>
			</ul>

			<ul class="mui-table-view" style="margin-top: 10px;">
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
							关于我们
						</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
							更多
						</a>
				</li>
			</ul>
			<div class="mui-content-padded" style="margin-top: 10px;">
				<button id="logout" type="button" class="mui-btn mui-btn-block mui-btn-danger" style="">退出登录</button>
			</div>
		</div>
		<script src="../js/require.js" data-main = "tab-settings" type="text/javascript" charset="utf-8"></script>
	</body>

</html>