<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../js/mui.min.js"></script>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<script type="text/javascript" charset="UTF-8">
			mui.init();
		</script>
	</head>

	<body id="userInfo">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">标题</h1>
		</header>
		<div class="mui-content">
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
		                	昵称：{{userInfo.nickName}}
		            </a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
		                	位置：{{userInfo.address}} &nbsp;&nbsp;{{userInfo.city}}
		            </a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
		                	年龄：{{userInfo.age}}
		            </a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
		                	性别：{{userInfo.sex}} 
		            </a>
				</li>
			</ul>
		</div>
		<script src="../js/require.js" data-main="userInfo.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>